.react-calendar {
  background-color: #F6F9FC;
  border: none;
  width: 404px;
  height: 374px;
  overflow: hidden;
}

/* 년-월 */
.react-calendar__navigation__label > span {
  color: black;
  font-family: SUIT Variable;
  font-size: 19px;
  font-weight: medium;
  line-height: 140%;
}

.react-calendar__year-view__months {
  display: flex;
  justify-content: center;
}

.react-calendar__navigation {
  display: flex;
  height: 26px;
  margin-bottom: 10px;
  font-size: 19px;
}

.react-calendar__navigation__arrow {
  flex-grow: 1;
}

.react-calendar__navigation__prev-button {
  padding-left: 20px;
}

.react-calendar__navigation__next-button {
  padding-right: 20px;
  display: flex;
  justify-content: end;
}

/* 요일 */
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 16px;
  font-size: medium;
  margin-bottom: 5px;
}

.react-calendar__month-view__weekdays__weekday * {
  text-decoration-line: none;
}

/* 요일 */
.react-calendar__month-view__weekdays__weekday{
  color: black;
  font-size: 16px;
  font-weight: medium;
  margin-bottom: 5px;
}

.react-calendar__month-view__days__day--weekend {
  color: black;
  font-size: 18px;
  width: 44px;
  height: 44px;
  font-weight: medium;
  text-align: center;
}

/* 일자들 */
.react-calendar__month-view__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7일로 나누기 */
  grid-gap: 6.5px; /* 줄여서 전체 높이에 맞춤 */
  overflow-y: auto; /* 내용이 넘칠 경우 스크롤 */
}

.react-calendar__month-view__days__day {
  width: auto; /* 자동으로 너비 조정 */
  height: auto; /* 자동으로 높이 조정 */
  padding: 5px; /* 여백 줄임 */
  box-sizing: border-box; /* 박스 크기 조정 */
}

/* 이번 달 일자 */
.react-calendar__tile {
  color: black;
  font-size: 16px;
  font-weight: medium;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  margin-inline-end: 9px !important;
  margin: 0px 0px 5px 0px;
  flex: 0 0 auto !important;
}

/* 저번 달 & 다음 달 일자 */
.react-calendar__month-view__days__day--neighboringMonth{
  color: #5F5F5F;
  font-size: 18px;
  font-weight: medium;
}

/* 오늘 날짜 */
.react-calendar__tile--now{
  background-color: #26408B;
  color: white;
  font-size: 18px;
  font-weight: medium;
  border-radius: 50px;
}

/* 오늘 날짜 도트 */
.react-calendar__tile--now .not-dot {
  display: none;
}

/* 일정 있는 날 표시 점 */
.dot {
  height: 7px;
  width: 7px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  margin-top: 4px;
}

/* 일정 없는 날 표시 점 */
.not-dot {
  height: 7px;
  width: 7px;
  background-color: none;
  border-radius: 50%;
  text-align: center;
  margin-top: 4px;
}

/* 월 선택 */
.react-calendar__year-view__months__month {
  width: 70px;
}