@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Pretendard-Regular";
    font-weight: normal;
    src: url("./fonts/Pretendard-Regular.otf") format("truetype");
  }

  @font-face {
    font-family: "Pretendard-Medium";
    font-weight: medium;
    src: url("./fonts/Pretendard-Medium.otf") format("truetype");
  }

  @font-face {
    font-family: "Pretendard-Bold";
    font-weight: bold;
    src: url("./fonts/Pretendard-Bold.otf") format("truetype");
  }

  @font-face {
    font-family: "Pretendard-SemiBold";
    font-weight: bold;
    src: url("./fonts/Pretendard-SemiBold.otf") format("truetype");
  }
}

body {
  font-family: "Pretendard-Regular";
}

/* 스크롤바 넓이 지정 */
::-webkit-scrollbar {
  width: 5px;
}

/* 스크롤바 트랙 꾸미기 */
::-webkit-scrollbar-track {
  background: #F6F9FC;
  border-radius: 5px;
}

/* 스크롤바 손잡이 꾸미기 */
::-webkit-scrollbar-thumb {
  background: #C2C2C2;
  border-radius: 5px;
}

/* 스크롤바 손잡이 호버 시 색 */
::-webkit-scrollbar-thumb:hover {
  background: #9A9A9A;
}